**Process:**
* Load and check data
* Data preprocess (2 datasets)
* Answer each question (7 in total)
 
**Notations:**

*stock.sas7bdat*
* PERMNO: a 5-digit firm identifier
* DATE: last trading day of the month, SAS format yymmddn8.
* COMNAM: company name
* EXCHCD: 1: NYSE, 2: AMEX, 3: NASDAQ
* SICCD: 4 digit SIC code
* PRC: closing price
* RET: monthly return
* SHROUT: shares outstanding in thousand shares

*ff3.sas7bdat*
* DATE: last trading day of the month
* SMB: small-minus-big return
* HML: high-minus-low return
* MKTRF: excess return on the market
* RF: risk-free rate
* UMD: momentum factor

In [1]:
# import packages
import pandas as pd

# Load and check data

In [2]:
# load data
Stock = pd.read_sas("stock.sas7bdat")
RM = pd.read_sas("ff3.sas7bdat")

In [3]:
# show first few rows of Stock
Stock.head()

,PERMNO,DATE,COMNAM,EXCHCD,SICCD,PRC,RET,SHROUT
0,10001.0,2001-01-31,b'ENERGY WEST INC',3.0,4920.0,9.875,0.012821,2498.0
1,10001.0,2001-02-28,b'ENERGY WEST INC',3.0,4920.0,9.750,-0.012658,2504.0
2,10001.0,2001-03-30,b'ENERGY WEST INC',3.0,4920.0,10.000,0.038462,2509.0
3,10001.0,2001-04-30,b'ENERGY WEST INC',3.0,4920.0,9.750,-0.025000,2509.0
4,10001.0,2001-05-31,b'ENERGY WEST INC',3.0,4920.0,10.700,0.097436,2509.0

In [4]:
# show first few rows of RM
RM.head()

                           DATE     SMB     HML   MKTRF      RF     UMD
0 2001-01-31 00:07:23.404800000  0.0657 -0.0490  0.0313  0.0054 -0.2506
1 2001-02-28 00:07:20.121599999 -0.0074  0.1290 -0.1005  0.0038  0.1251
2 2001-03-30 00:00:00.000000000  0.0034  0.0645 -0.0726  0.0042  0.0835
3 2001-04-30 00:06:12.988800000  0.0052 -0.0469  0.0794  0.0039 -0.0797
4 2001-05-31 00:00:00.000000000  0.0260  0.0314  0.0072  0.0032  0.0212

In [5]:
# select the columns we want
Stock = Stock[["DATE", "PERMNO", "PRC", "RET", "SHROUT"]]
RM = RM[["DATE", "MKTRF", "RF"]]

In [6]:
# check Stock's information
Stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 895867 entries, 0 to 895866
Data columns (total 5 columns):
DATE      895867 non-null datetime64[ns]
PERMNO    895867 non-null float64
PRC       889427 non-null float64
RET       885676 non-null float64
SHROUT    894897 non-null float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 34.2 MB

In [7]:
# check RM's information
RM.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 3 columns):
DATE     204 non-null datetime64[ns]
MKTRF    204 non-null float64
RF       204 non-null float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 4.9 KB

From the information above, we can find that DATE column in both datasets is already datetime object, other columns are float.

# Data preprocess

### First, deal with Stock

In [8]:
# select data after 2008/1/1
Stock = Stock[Stock.DATE > "2008-01-01"]

# create temporary Stock dataset betweeen 2008/01/01 and 2012/12/31
temp_Stock = Stock[Stock.DATE <= "2012/12/31"]

# create function to count observations for each company
def calculate_num(input_data, num):
    temp_data = input_data.sort_values("DATE", ascending=True)
    # find out last row of data's DATE, and transform it to string
    # beacuse we need to make sure companies still exist at 2012/12/31
    last_date = str(temp_data.iloc[-1, :]["DATE"].date())
    # count observations from back to front
    # the observations need at least 36 data points
    if len(temp_data.iloc[-num:, ]) == num and last_date == "2012-12-31":
        return True
    else:
        return False
    
# group temp_Stock by "PERMNO" column, and apply "calculate_num" function to each group
count_result = temp_Stock.groupby("PERMNO").apply(lambda x: calculate_num(x, 36))

# save company's PERMNO if it met the requirement
target_PERMNO = count_result[count_result == True].index

# show the number of companies which meet the requirement
print("number of qualified companies:", len(target_PERMNO))

number of qualified companies: 3247

In [9]:
# transform target_PERMNO to set
target_PERMNO = set(list(map(lambda x:str(int(x)), target_PERMNO)))

# transform temp_Stock's PERMNO column to string
# in case of warnings, set a copy of temp_Stock
temp_Stock = temp_Stock.copy()
temp_Stock.PERMNO = temp_Stock.PERMNO.apply(lambda x: str(int(x)))

# create index to find whether temp_Stock's PERMNO is in target_PERMNO
selected_index = temp_Stock.PERMNO.apply(lambda x: x in target_PERMNO)

# select companies which meet the requirement
temp_Stock = temp_Stock[selected_index]

### Second, merge Stock with RM

In [10]:
# check the key we need while merging two dataframes
print("Stock's DATE format:", temp_Stock.DATE.iloc[0])
print("RM's DATE format:", RM.DATE.iloc[0])

Stock's DATE format: 2008-01-31 00:00:00
RM's DATE format: 2001-01-31 00:07:23.404800

From the information above, we can find that RM's DATE format also contain hour, minute, and second. However, Stock's DATE format doesn't contain those information, so we need to unify their format.

In [11]:
# unify their DATE format by only selecting year, month, and day
# in case of warnings, set a copy of temp_Stock
temp_Stock = temp_Stock.copy()
temp_Stock["DATE"] = temp_Stock["DATE"].apply(lambda x:x.date())
RM["DATE"] = RM["DATE"].apply(lambda x:x.date())

# merge Stock with RM
Sample = temp_Stock.merge(RM, how="inner", on="DATE")

# create new column "RIRF" for excess return on market
Sample["RIRF"] = Sample["RET"] - Sample["RF"]

In [12]:
Sample[Sample.PERMNO == "10001"]

              DATE PERMNO      PRC       RET  SHROUT   MKTRF      RF      RIRF
0       2008-01-31  10001  14.0000 -0.006082  2875.0 -0.0636  0.0021 -0.008182
3071    2008-02-29  10001   9.4999  0.021704  4345.0 -0.0309  0.0013  0.020404
6153    2008-03-31  10001   8.9650 -0.052516  4347.0 -0.0093  0.0017 -0.054216
9243    2008-04-30  10001   8.6000 -0.036698  4347.0  0.0460  0.0018 -0.038498
12341   2008-05-30  10001  10.9000  0.271628  4347.0  0.0186  0.0018  0.269828
15448   2008-06-30  10001  10.7500 -0.010092  4349.0 -0.0844  0.0017 -0.011792
18562   2008-07-31  10001  10.1400 -0.053023  4349.0 -0.0077  0.0015 -0.054523
21681   2008-08-29  10001   9.9000 -0.019724  4349.0  0.0153  0.0013 -0.021024
24809   2008-09-30  10001   8.5000 -0.137374  4349.0 -0.0924  0.0015 -0.138874
27941   2008-10-31  10001   8.3000 -0.018824  4349.0 -0.1723  0.0008 -0.019624
31080   2008-11-28  10001   7.1800 -0.130121  4349.0 -0.0786  0.0003 -0.130421
34222   2008-12-31  10001   8.2600  0.155989  4297.0  0.0174  0.0000  0.155989
37368   2009-01-30  10001   8.5020  0.034140  4297.0 -0.0812  0.0000  0.034140
40517   2009-02-27  10001   8.9400  0.056222  4297.0 -0.1010  0.0001  0.056122
43669   2009-03-31  10001   8.1800 -0.080537  4300.0  0.0895  0.0002 -0.080737
46820   2009-04-30  10001   8.5000  0.044621  4300.0  0.1019  0.0001  0.044521
49975   2009-05-29  10001   8.4800  0.002941  4354.0  0.0521  0.0000  0.002941
53135   2009-06-30  10001   8.5999  0.019446  4301.0  0.0043  0.0001  0.019346
56299   2009-07-31  10001   8.1500 -0.047082  4301.0  0.0772  0.0001 -0.047182
59467   2009-08-31  10001   8.5400  0.053374  4302.0  0.0333  0.0001  0.053274
62638   2009-09-30  10001   8.5999  0.012283  4303.0  0.0408  0.0001  0.012183
65820   2009-10-30  10001   8.8800  0.037803  4303.0 -0.0259  0.0000  0.037803
69018   2009-11-30  10001   8.8980  0.007095  4361.0  0.0556  0.0000  0.007095
72230   2009-12-31  10001  10.3000  0.162621  4361.0  0.0275  0.0001  0.162521
75459   2010-01-29  10001  10.0600 -0.018932  4361.0 -0.0336  0.0000 -0.018932
78699   2010-02-26  10001  10.0084 -0.000656  4361.0  0.0340  0.0000 -0.000656
81940   2010-03-31  10001  10.1700  0.020643  4361.0  0.0631  0.0001  0.020543
85181   2010-04-30  10001  11.3900  0.124385  6070.0  0.0200  0.0001  0.124285
88422   2010-05-28  10001  11.4000  0.004829  6071.0 -0.0789  0.0001  0.004729
91663   2010-06-30  10001  10.8600 -0.043421  6080.0 -0.0556  0.0001 -0.043521
94905   2010-07-30  10001  11.7200  0.083333  6080.0  0.0693  0.0001  0.083233
98148   2010-08-31  10001  10.3710 -0.111263  6073.0 -0.0477  0.0001 -0.111363
101391  2010-09-30  10001  11.1200  0.076560  6073.0  0.0954  0.0001  0.076460
104635  2010-10-29  10001  11.4399  0.032815  6074.0  0.0388  0.0001  0.032715
107879  2010-11-30  10001  10.0400 -0.118436  7834.0  0.0060  0.0001 -0.118536
111124  2010-12-31  10001  10.5200  0.052291  7834.0  0.0682  0.0001  0.052191
114369  2011-01-31  10001  10.7800  0.028992  7834.0  0.0199  0.0001  0.028892
117616  2011-02-28  10001  10.9800  0.022727  7834.0  0.0349  0.0001  0.022627
120863  2011-03-31  10001  11.7300  0.072404  7834.0  0.0045  0.0001  0.072304
124110  2011-04-29  10001  11.2300 -0.038789  8151.0  0.0290  0.0000 -0.038789
127357  2011-05-31  10001  11.5000  0.028050  8151.0 -0.0127  0.0000  0.028050
130604  2011-06-30  10001  11.5500  0.008261  8151.0 -0.0175  0.0000  0.008261
133851  2011-07-29  10001  11.1800 -0.028139  8151.0 -0.0236  0.0000 -0.028139
137097  2011-08-31  10001  10.9800 -0.013864  8152.0 -0.0599  0.0001 -0.013964
140344  2011-09-30  10001  10.9900  0.005009  8152.0 -0.0759  0.0000  0.005009
143591  2011-10-31  10001  11.0000  0.005005  8152.0  0.1135  0.0000  0.005005
146838  2011-11-30  10001  10.9000 -0.005000  8154.0 -0.0028  0.0000 -0.005000
150085  2011-12-30  10001  11.4200  0.051835  8154.0  0.0074  0.0000  0.051835
153332  2012-01-31  10001  11.1500 -0.019702  8154.0  0.0505  0.0000 -0.019702
156579  2012-02-29  10001  11.1608  0.005005  8154.0  0.0442  0.0000  0.005005
159826  2012-03-30  10001  11.6600  0.048760  8154.0  0.0311  0.0000  0.048760
163073  2012-04-30  10001  11.4401 -0.015000  8155.0 -0.0085  0.0000 -0.015000
166319  2012-05-31  10001  10.4300 -0.084361  8156.0 -0.0619  0.0001 -0.084461
169565  2012-06-29  10001  10.1000 -0.027325  8156.0  0.0389  0.0000 -0.027325
172811  2012-07-31  10001  10.1500  0.009406  8156.0  0.0079  0.0000  0.009406
176056  2012-08-31  10001   9.9800 -0.012315  8157.0  0.0255  0.0001 -0.012415
179301  2012-09-28  10001   9.9400  0.000501  8157.0  0.0273  0.0001  0.000401
182546  2012-10-31  10001  10.0210  0.012676  8157.0 -0.0176  0.0001  0.012576
185792  2012-11-30  10001   9.5200 -0.045504  8157.0  0.0078  0.0001 -0.045604
189039  2012-12-31  10001   9.3300 -0.015231  8157.0  0.0118  0.0001 -0.015331